/*home.css*/


/* Подключение шрифта */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}

/* Общие стили */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f0f0, #d6d6d6); /* Мягкий градиентный фон */
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/*  Карточка в центре */
.home-restagle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Мягкая тень */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    z-index: 0;
}

/*  Логотип */
.logo-zherebetsky {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
}

.logo-zherebetsky:hover {
    opacity: 1;
}

/*  Контейнер для кнопок */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 3;
}

/* Стили кнопок */
.collection-button, .edit-collection-button {
    width: 200px;
    height: 50px;
    background: linear-gradient(135deg, #ebebeb, #dbdbdb);
    border: none;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #606060;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
    z-index: 3;
}

.collection-button:hover, .edit-collection-button:hover {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #dcdcdc, #c4c4c4);
    transform: translateY(-3px);
}
